<h1>Welcome to Tattle</h1>
<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to "Hey Admin", admin_page_path, class: "btn btn-primary" %>
<% end %>
<p>Hii this is Tattle. You are most welcome here.</p>

<% if user_signed_in? %>
  <p>You are: <%= image_tag(current_user.avatar_thumbnail) %> <%= current_user.username %></p>  
<% end %>

<h2>Services Tattle Offers-</h2>
  <div class="card">
    <div class="card-body">
      <h2>Articles</h2>
      <p>Got something worth sharing? Pour your brain out in this section!</p>
      <% if user_signed_in? %>
        <%= link_to 'Articles', articles_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div><br>

  <div class="card">
    <div class="card-body">
      <h2>Chat room</h2>
      <p>Discover public profiles on tattle and message in realtime.</p>
      <% if user_signed_in? %>
        <%= link_to 'Chat room', rooms_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div><br>

